{%extends 'all-news/base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}

<div class="container">

    <!-- Looping through news   -->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
    {% for news_item in news %}
      <!-- displaying News articles -->
        <a href="{% url 'article' news_item.id %} "><h2 class="text-center"> {{ news_item.title }} </h2></a>
        <p class="text-center">{{news_item.post|truncatechars:200}} </p>
      {% empty %}
        <h2 class="text-center">There No News Items</h2>
      <!-- Looping through news end   -->
      {% endfor %}
      </div>
      <div class="col-md-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Subscribe for a Newsletter!!</h5>
              {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
              <p class="card-text"></p>
              <form  action="{%url 'newsToday'%}" method="post" class="card-text">
                {%csrf_token%}
          
                {% bootstrap_form letterForm layout='inline' %}
                <input type="submit" value="Subscribe">
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
  
{% endblock %}

{% block scripts %} 
  {{block.super}}
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
{% endblock %}
