<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'newsToday' %}">The Moringa Tribune</a>
    </div>
    <!-- Adding a search form  -->
    <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Article" name="article">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>

        </form>
      </div>
    <!-- search form end -->
    <div>
            {% if user.is_authenticated %}
            <ul>
              <li class="dropdown" style="list-style:none;">
                <a href="#" class="dropdown-toggle btn btn-dark" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{%url 'newsToday'%}">Home</a>
                  </li>
                  <li>
                    <a href="{%url 'new-article'%}">Create Article</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li style="list-style:none;">
              <a class='btn btn-dark' href="/accounts/login">Login</a>
            </li>

            {% endif %}
          </div>  
  </div>
</nav>
</body>
</html>